<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Cardápios</h3>
    <a href="#/cardapios/novo" class="btn btn-sm pull-right btn-primary">Adicionar Novo</a>
  </div>
  <div class="box-body">
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <td>Nome</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="!menus.length">
          <td colspan="3">Nenhum cardápio cadastrado.</td>
        </tr>
        <tr ng-repeat="menu in menus">
          <td ng-bind="menu.name"></td>
          <td>
            <a ng-href="#/cardapios/{{menu.id}}/editar">Editar</a>
            <a href="javascript:void(0);" ng-click="remove(menu.id)">Deletar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.box-body -->
  <div class="box-footer">
    <div paging
    page="1" 
    page-size="25" 
    total="total"
    paging-action="paging(page, pageSize, total,'/api/menus')">
  </div> 
</div><!-- /.box-footer-->
</div><!-- /.box -->