<!DOCTYPE html>
<html ng-app="fastorder">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Boxed Layout</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/assets/admin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/admin/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/assets/admin/css/dashboard.css">
    <link rel="stylesheet" href="/assets/admin/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/admin/bower_components/humane-js/themes/flatty.css">
    <link rel="stylesheet" href="/assets/admin/css/skins/skin-blue.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <!-- ADD THE CLASS layout-boxed TO GET A BOXED LAYOUT -->
  <body class="hold-transition skin-blue fixed sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="../../index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>F</b>OR</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Fast</b>Order</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li><!-- end message -->
                    </ul>
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>
            
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="/assets/admin/img/user2-160x160.jpg" class="user-image" alt="User Image">
                  <span class="hidden-xs">Alexander Pierce</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="/assets/admin/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    <p>
                      Alexander Pierce - Web Developer
                      <small>Member since Nov. 2012</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <!-- =============================================== -->

      <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="/assets/admin/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Alexander Pierce</p>
            </div>
          </div>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <li class="treeview active">
              <a ng-href="#/">
                <i class="fa fa-files-o"></i>
                <span>Home</span>
              </a>
            </li>
            <li class="treeview">
              <a ng-href="#/produtos">
                <i class="fa fa-files-o"></i>
                <span>Produtos</span>
              </a>
            </li>
            <li class="treeview">
              <a ng-href="#/cardapios">
                <i class="fa fa-files-o"></i>
                <span>Cardápios</span>
              </a>
            </li>
            <li class="treeview">
              <a ng-href="#/mesas">
                <i class="fa fa-files-o"></i>
                <span>Mesas</span>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- =============================================== -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div ng-view></div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.3.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
      </footer>

      <!-- Control Sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.4 -->
    <script src="/assets/admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/admin/bower_components/angular/angular.min.js"></script>
    <script src="/assets/admin/bower_components/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="/assets/admin/bower_components/jquery-maskmoney/dist/jquery.maskMoney.min.js"></script>
    <script src="/assets/admin/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/assets/admin/bower_components/angular-paging/dist/paging.min.js"></script>
    <script src="/assets/admin/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/assets/admin/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/assets/admin/bower_components/humane-js/humane.min.js"></script>
    <script src="/assets/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/admin/bower_components/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/admin/js/ltetheme.min.js"></script>
    <!-- directives -->
    <script src="/app/directives/masks-directive.js"></script>    
    <script src="/app/directives/upload-directive.js"></script>    

    <!-- services -->
    <script src="/app/services/formatService.js"></script>
    
    <!-- home -->
    <script src="/app/modules/home/home.js"></script>
    <script src="/app/modules/home/controllers/homeController.js"></script>    

    <!-- tables -->
    <script src="/app/modules/products/products.js"></script>
    <script src="/app/modules/products/services/productsService.js"></script>    
    <script src="/app/modules/products/controllers/productsController.js"></script>

    <!-- tables -->
    <script src="/app/modules/tables/tables.js"></script>
    <script src="/app/modules/tables/services/tablesService.js"></script>    
    <script src="/app/modules/tables/controllers/tablesController.js"></script>

    <!-- menus -->
    <script src="/app/modules/menus/menus.js"></script>
    <script src="/app/modules/menus/services/menusService.js"></script>    
    <script src="/app/modules/menus/controllers/menusController.js"></script>
    
    <script src="/app/app.js"></script>
  </body>
</html>
